<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>744750511677-sec19olv7fu9sa45drggndsnp4bdj8ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744750511677-sec19olv7fu9sa45drggndsnp4bdj8ub</string>
	<key>API_KEY</key>
	<string>AIzaSyD0gQX1MmJASqbJoqoI_zXa8hPif9psb8I</string>
	<key>GCM_SENDER_ID</key>
	<string>744750511677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mathtutordvd.mathtutor</string>
	<key>PROJECT_ID</key>
	<string>ios-app-8b40c</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-app-8b40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744750511677:ios:ad3ae226998f777c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-app-8b40c.firebaseio.com</string>
</dict>
</plist>